section-5 {
	display: flex;
	background-color: $purpur;
}

.form-contact {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
	&__form-title {		
    	margin-top: 46px;
	    margin-bottom: 44px;
	    line-height: 1.1;
		font-size: 40px;
		color: $white;
	}
	&__form-content {
	    width: 43%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;    	
		&_form-name {
						
			margin-bottom: 24px;
			padding: 10px 0 10px 27px;
		}
		&_form-email {
			
			margin-bottom: 24px;
		    padding: 10px 0 10px 27px;
		}
		&_form-message {
			
			margin-bottom: 42px;
		    padding: 10px 0 51px 27px;
		}
		&_form-submit {
			margin-bottom: 130px;
			padding: 18px 68px;
			@extend button;
			&:hover {
				background-color: $purpur;
				border: 1px solid $white;
				a {
					color: $white;
				}
			}
		}
	}
}	

.footer-wrap {
    display: flex;
    padding: 0;
    color: $white;
    margin-bottom: 92px;
	&__footer-contact {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    padding: 0;
	    &_logotype-small {
			font-size: 23px;
			font-weight: $bold;
			margin-bottom: 36px;
	    }
	    &_topic-contact {
    	    
	    }
	    &_footer-email {
	    	    margin-bottom: 38px;
	    	a {
				@extend a;
				font-weight: $regular;
				&:hover {
		  			border-bottom: none;
		  			color: $white;
		  			opacity: 0.5;
				}				
			}
	    }
	    &_topic-social {
	    	color: $white;
	    	margin-bottom: 8px;
	    }
	    &_social-veb {
	    	
	    }
	}
	&__menu-footer {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
		padding: 0;
		&_title-menu {
			font-size: 24px;
		}
		&_vertical-menu {
		    padding-left: 0;
		    margin-top: 17px;
			@extend ul;
			&_link-group {
				margin-top: 7px;
				a {
					@extend a;
					font-weight: $regular;
					&:hover {
			  			border-bottom: none;
			  			color: $white;
			  			opacity: 0.5;
					}				
				}				
			}
		}
	}
	&__twitter-block {
	    display: flex;
    	flex-direction: column;
    	align-items: flex-end;
		padding: 0;
		&_twitter-title {
			font-size: 24px;
		}
		&_twitter-foto {
		    width: 51%;
		    display: flex;
    		flex-direction: column;
    		margin-top: 20px;
    		&_rows {
			    display: flex;
    			justify-content: space-between;
    			margin-top: 10px;
    		}
		}
	}
}

.footer-bottom {
    display: flex;
    justify-content: center;
    font-size: 14px;
	color: $white;
	opacity: 0.7;
	margin-bottom: 45px;
}

.height-up {
	&__circle-wrap {
		&_arrows {

		}
	}
}