section-5 {
	display: flex;
	background-color: $purpur;
}

.form-contact {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
	&__form-title {		
    	margin-top: 46px;
	    margin-bottom: 44px;
	    line-height: 1.1;
		font-size: 40px;
		color: $white;
	}
	&__form-content {
	    width: 43%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;    	
		&_form-name {
			width: 100%;			
			margin-bottom: 24px;
			padding: 10px 0 10px 27px;
		}
		&_form-email {
			width: 100%;
			margin-bottom: 24px;
		    padding: 10px 0 10px 27px;
		}
		&_form-message {
			width: 100%;
			margin-bottom: 42px;
		    padding: 10px 0 51px 27px;
		}
		&_form-submit {
			margin-bottom: 55px;
			padding: 18px 68px;
			@extend button;
			&:hover {
				background-color: $purpur;
				border: 1px solid $white;
				a {
					color: $white;
				}
			}
		}
	}
}	

.footer-wrap {
    display: flex;
    padding: 0;
    color: $white;
	&__footer-contact {
	    display: flex;
	    flex-direction: column;
	    
	    padding: 0;
	    &_logotype-small {

	    }
	    &_topic-contact {
	    	
	    }
	    &_footer-email {
	    	
	    }
	    &_topic-social {
	    	color: $white;
	    }
	    &_social-veb {
	    	
	    }
	}
	&__menu-footer {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
		padding: 0;
		&_title-menu {

		}
		&_vertical-menu {
		    padding-left: 0;
			@extend ul;
			&_link-group {
				@extend a;
			}
		}
	}
	&__twitter-block {
	    display: flex;
    	flex-direction: column;
    	align-items: flex-end;
		padding: 0;
		&_twitter-title {

		}
		&_twitter-foto {
		    display: flex;
    		flex-direction: column;
		}
	}
}

.footer-bottom {
    display: flex;
    justify-content: center;
	color: $white;
}

.height-up {
	&__circle-wrap {
		&_arrows {

		}
	}
}