section-5 {
	display: flex;
	background-color: $purpur;
}

.footer-wrap {
    display: flex;
	&__footer-contact {
	    display: flex;
	    flex-direction: column;
	    color: white;
	}
}

.form-contact {
	display: flex;
    flex-direction: column;
    align-items: center;
	&__form-title {
		
    	margin-top: 46px;
	    margin-bottom: 44px;
	    line-height: 1.1;
		font-size: 40px;
		color: $white;
	}
	&__form-content {
	    width: 44%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
    	
		&_form-name {
			width: 100%;			
			margin-bottom: 24px;
			padding: 10px 0 10px 27px;
		}
		&_form-email {
			width: 100%;
			margin-bottom: 24px;
		    padding: 10px 0 10px 27px;
		}
		&_form-message {
			width: 100%;
			margin-bottom: 42px;
		    padding: 10px 0 51px 27px;
		}
		&_form-submit {
			margin-bottom: 55px;
			padding: 18px 68px;
			@extend button;
			&:hover {
				background-color: $purpur;
				border: 1px solid $white;
				a {
					color: $white;
				}
			}
		}
	}
}	