section-1 {
	background: url('../images/home-bg.png') no-repeat top fixed;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	background-size: cover;
}

.home-part-top {
	display: flex;
    margin-top: 350px;
    margin-bottom: 145px;
}

.home-part-bottom{
	width: 100%;
	background-color: $purpur;
}

.bottom-bg {
	
	&_scroll-arrow {

	}
}


.main {
	padding: 0;
	&__block-topic {

	}	
	&__btn {
		padding: 20px 69px;
		@extend button;
	}
}

.topic-main {
	@extend h1;
}

.topic-text {
	padding-top: 18px;
	margin-bottom: 71px;
	@extend h3;
}

/* --------- scroll mouse start -------- */
.bottom-bg {
	display: flex;
	&__scroll-arrow {
		display: flex;
    	justify-content: center;	
	}
	&__social {
		display: flex;
		justify-content: flex-end;
	    padding: 0;
		&_social-veb {
			width: 58%;
			display: flex;
			justify-content: space-between;
		    align-items: center;
		}
	}
}

i {
	color: #ffffff;	
	@extend a;
	font-size: 1.6em;			
}



#scroll-home {
    display: flex;
    flex-direction: column;   
	margin: 20px 0 30px;
  }

#mice span {  
  width: 21px;
  height: 21px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  
  /* margin: 5px 0 3px 6px; */
}

.unu {
  
  border-right: 1px solid $yellow;
  border-bottom: 1px solid $yellow;
}

.unu, .doi {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu {

  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  border-right: 1px solid $purpur-extra-light;
  border-bottom: 1px solid $purpur-extra-light;
  margin-top: -12px;
}


/* --------- scroll mouse finish -------- */